@(
  title: String,
  scripts: Seq[String] = Nil,
  stylesheets: Seq[String] = Nil,
  bodyClass: Option[String] = None
)(content: Html)<!DOCTYPE html>
<html>
  <head>
    <title>@title</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <!-- The required Stripe lib -->
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script>
    UPLOADCARE_LOCALE = "en";
    UPLOADCARE_TABS = "file url facebook gdrive dropbox instagram evernote flickr skydrive";
    UPLOADCARE_PUBLIC_KEY = "31c94bd4fba554d1397e";
  </script>
  <script charset="utf-8" src="//ucarecdn.com/widget/2.5.1/uploadcare/uploadcare.full.min.js"></script>
    @for(script <- scripts) {<script src="@script"></script>}

  <script type="text/javascript">
    // This identifies your website in the createToken call below
    Stripe.setPublishableKey('pk_test_I6h5vqVx0FefH2CX0Su4Cie5');
    var stripeResponseHandler = function(status, response) {
      var $form = $('#payment-form');
      if (response.error) {
        // Show the errors on the form
        $form.find('.payment-errors').text(response.error.message);
        $form.find('button').prop('disabled', false);
      } else {
        // token contains id, last4, and card type
        var token = response.id;
        // Insert the token into the form so it gets submitted to the server
        $form.append($('<input type="hidden" name="stripeToken" />').val(token));
        // and re-submit
        $form.get(0).submit();
      }
    };
    jQuery(function($) {
      $('#payment-form').submit(function(e) {
        var $form = $(this);
        // Disable the submit button to prevent repeated clicks
        $form.find('button').prop('disabled', true);
        Stripe.card.createToken($form, stripeResponseHandler);
        // Prevent the form from submitting with the default action
        return false;
      });
    });
  </script>


  <script type="text/javascript">




    jQuery(function($) {
      $('#image-form').click(function(e) {
        var $form = $(this);
        // Disable the submit button to prevent repeated clicks
        e.preventDefault();
        $form.find('button').prop('disabled', true);

          uploadcare.openDialog(null, {
              crop: "disabled",
              imagesOnly: true,
              previewStep: true

            }).done(function(file) {
                file.promise().done(function(fileInfo){
                  imageURL = fileInfo.cdnUrl;
                  console.log(imageURL);
                  $form.append($('<input type="hidden" name="imageUrl" />').val(imageURL));
                  console.log($form);
                  $form.get(0).submit();
                });
              });
        // Prevent the form from submitting with the default action
        return false;
      });
    });

  </script>

    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    @for(stylesheet <- stylesheets) {<link rel="stylesheet" media="screen" href="@stylesheet" />}

  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
      
  </head>


<body @bodyClass.map(c => Html(" class=\"" + c + "\""))>@content  </body>

</html>
