@(user: models.user.User, filledForm: Form[models.user.AdminUserUpdateData])(
  implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages
)@layout.bootstrap("Register") {
    @flash.get("error").map { e =>
      <div class="error">@e</div>
    }

<div class="container-fluid">
    <!-- Second navbar for categories -->

    <!-- Second navbar for profile settings -->
    <nav class="navbar navbar-inverse">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-4">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ADMIN</a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-4">
          <ul class="nav navbar-nav navbar-right">
            <li><a href='@routes.HomeController.index'>Home</a></li>
            <li><a href='@routes.AdminController.adminIndex'>Admin</a></li>
          </ul>            
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->
</div><!-- /.container-fluid -->


  <div class="container">
          <div class="row">
            <hr class="col-md-12" />
            <h4 class="col-md-8">Update User's Profile</h4>
            <hr class="col-md-12" />
        </div>

  @helper.form(action = routes.UserUpdateController.updateuser()) {


<dl class="error" id="username_field">
    <dt><label for="username"><label>Username:</label></dt>
    <dd><input type="text" name="username" id="username" value= "@filledForm.get.username"></dd>
    <dd class="error">This field is required!</dd>
</dl>

<dl class="error" id="roles_field">
    <dt><label for="roles"><label>User Roles:</label></dt>
    <dd><input type="text" name="roles" id="roles" value= "@filledForm.get.roles"></dd>
    <dd class="error">This field is required!</dd>
</dl>

<dl class="error" id="phone_field">
    <dt><label for="phone"><label>Phone Number:</label></dt>
    <dd><input type="text" name="phone" id="phone" value= "@filledForm.get.phone"></dd>
    <dd class="error">This field is required!</dd>
</dl>

<dl class="error" id="address_field">
    <dt><label for="address"><label>Address:</label></dt>
    <dd><input type="text" name="address" id="address" value= "@filledForm.get.address"></dd>
    <dd class="error">This field is required!</dd>
</dl>

<dl class="error" id="fullName_field">
    <dt><label for="fullName"><label>Full Name:</label></dt>
    <dd><input type="text" name="fullName" id="fullName" value= "@filledForm.get.fullName"></dd>
    <dd class="error">This field is required!</dd>
</dl>

<dl class="error" id="hasstripe_field">
    <dt><label for="hasstripe"><label>Stripe Token:</label></dt>
    <dd><input type="text" name="hasstripe" id="hasstripe" value= "@filledForm.get.hasstripe"></dd>
    <dd class="error">Dont Edit!</dd>
</dl>

<dl class="error" id="preferences_field">
    <dt><label for="preferences"><label>User Preferences:</label></dt>
    <dd><input type="text" name="preferences" id="preferences" value= "@filledForm.get.preferences"></dd>
    <dd class="error">Optional field!</dd>
</dl>

  <div class="form-group">
      <br/>
      <input type="submit" class="submit" value="Update Profile" />
  </div>
</div>
}

}