@(user: models.user.User)(
  implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages
)@layout.bootstrap("Register") {
    @flash.get("error").map { e =>
      <div class="error">@e</div>
    }

<div class="row data">
    <div class="col-md-12">
    <p class="col-md-6"><strong>User Name:</strong></p><p class="col-md-6">@user.username.getOrElse("None")</p>
    <p class="col-md-6"><strong>Full name:</strong></p><p class="col-md-6">@user.fullName.getOrElse("None")</p>
    <p class="col-md-6"><strong>Address:</strong></p><p class="col-md-6">@user.address.getOrElse("None")</p>
    <p class="col-md-6"><strong>Email:</strong></p><p class="col-md-6">@user.email.getOrElse("None")</p>
    <p class="col-md-6"><strong>Phone:</strong></p><p class="col-md-6">@user.phone.getOrElse("None")</p>
    <p class="col-md-6"><strong>Role:</strong></p><p class="col-md-6">@user.roles.toList</p>
<p class="col-md-6"><strong>Has Stripe?:</strong></p><p class="col-md-6">@user.hasstripe.getOrElse("None")</p>
    <p class="col-md-6"><strong>Preferences:</strong></p><p class="col-md-6">@user.preferences.getOrElse("None")</p>
<li><a href='@routes.AdminController.adminUserList("")'>Back To List</a></li>

</div>
</div>
}
