@(user: models.user.User)(
  implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages
)@layout.bootstrap("Register") {
    @flash.get("error").map { e =>
      <div class="error">@e</div>
    }
<div class="container-fluid">
    <!-- Second navbar for categories -->

    <!-- Second navbar for profile settings -->
    <nav class="navbar navbar-inverse">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-4">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ADMIN</a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-4">
          <ul class="nav navbar-nav navbar-right">
            <li><a href='@routes.AdminController.adminIndex'>Back To Admin</a></li>
            <li><a href='@routes.HomeController.index'>Back To Home</a></li>
            <li><a href='@routes.AuthenticationController.signOut'>Logout</a></li>
           
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->
</div><!-- /.container-fluid -->

<div class="row data">
    <div class="col-md-12">
    <p class="col-md-6"><strong>User Name:</strong></p><p class="col-md-6">@user.username.getOrElse("None")</p>
    <p class="col-md-6"><strong>Full name:</strong></p><p class="col-md-6">@user.fullName.getOrElse("None")</p>
    <p class="col-md-6"><strong>Address:</strong></p><p class="col-md-6">@user.address.getOrElse("None")</p>
    <p class="col-md-6"><strong>Email:</strong></p><p class="col-md-6">@user.email.getOrElse("None")</p>
    <p class="col-md-6"><strong>Phone:</strong></p><p class="col-md-6">@user.phone.getOrElse("None")</p>
    <p class="col-md-6"><strong>Role:</strong></p><p class="col-md-6">@user.roles.toList</p>
<p class="col-md-6"><strong>Has Stripe?:</strong></p><p class="col-md-6">@user.hasstripe.getOrElse("None")</p>
    <p class="col-md-6"><strong>Preferences:</strong></p><p class="col-md-6">@user.preferences.getOrElse("None")</p>
<li><a href='@routes.AdminController.adminUserList("1")'>Back To List</a></li>

</div>
</div>
}
